html {
    overflow-x: hidden;
}

body {
    background-image:radial-gradient(white,pink);
}

/* title  */
h1 {
    font-size:70px;
}


/* form for user to put in their name */

.form-label {
    font-size:30px;
}

.submit {
    font-size:20px;
    border:2px solid black;
}

/* instructions button */

.instructions {
    border-radius: 10px;
    background-color:rgb(34, 74, 109);
    font-size:25px;
}

a {
    text-decoration: none;
    color:white;
}

/* gameplay section */

#rectangle {
    background-image: url(imgs/tableforrpsbackground.jpeg);
    background-repeat:no-repeat;
    background-position: center;
    width:300px max-content;
    height:500px;
}

img {
    width:100px;
    height:100px;
}

#choice1 {
    width:120px;
    height:120px;

}

#choice2 {
    width:120px;
    height:120px;
} 

#choice3 {
    width:120px;
    height:120px;
}

/* instructions section */

#instructions {
    background-color:rgb(255, 222, 225);
    border-radius:30px;
    border:2px solid white;
    box-shadow:2px 2px 40px black;
}


h3 {
    font-size:50px;

}

p {
    font-size:25px;
}