html {
    overflow-x: hidden;
}

body {
    background-image:radial-gradient(white,pink);
}

/* title  */
h1 {
    font-size:70px;
    font-family: "playwrite-cc-au-tas", sans-serif;
font-weight: 400;
font-style: normal;
}


/* form for user to put in their name */

.form-label {
    font-size:25px;
}

.submit {
    font-size:20px;
    border:2px solid black;
}

/* instructions button */

.instructions {
    border-radius: 10px;
    background-color:rgb(34, 74, 109);
    font-size:25px;
}

a {
    text-decoration: none;
    color:white;
}


/* scoreboard */
.scorep {
    font-size:20px;
}



/* gameplay section */

#rectangle {
    background-image: url(imgs/tableforrpsbackground.jpeg);
    background-repeat:no-repeat;
    background-position: center;
    width:300px max-content;
    height:500px;
}

img {
    width:100px;
    height:100px;
}

#choice1 {
    width:120px;
    height:120px;
    background-color:pink;
}

#choice2 {
    width:120px;
    height:120px;
    background-color: pink;
} 

#choice3 {
    width:120px;
    height:120px;
    background-color: pink;
}

#userChoicePutSmallerScreen {
    position:relative;
    z-index:5;
    border:2px solid black;
    top:-200px;
    left:20px;
    width:120px;
    height:120px;
}

#userChoicePutLargerScreen {
    position:relative;
    z-index:5;
    border:2px solid black;
    top:-200px;
    left:240px;
    width:120px;
    height:120px;
}

#computerChoicePutSmallerScreen {
    position:relative;
    width:120px;
    height:120px;
    z-index:7;
    top:-320px;
    left:280px;
    border:2px solid white;
}

#computerChoicePutLargerScreen {
    position:relative;
    width:120px;
    height:120px;
    z-index:7;
    top:-320px;
    left:520px;
    border:2px solid white;
}

.choicessmallscreen {
    position:relative;
    top:-200px;
}

.choiceslargescreen {
    position:relative;
    top:-200px;
}

#choice1:hover, #choice2:hover, #choice3:hover {
    transform:scale(1.1);
}

#submit {
    width:100px;
    height:40px;
    font-size:15px;
    color:black;
    background-color:white;
    position:relative;
    z-index:6;
    margin:0 auto;
    top:-550px;
}

/* instructions section */

#instructions {
    background-color:rgb(255, 222, 225);
    border-radius:30px;
    border:2px solid white;
    box-shadow:2px 2px 40px black;
    top:-100px;
    position:relative;
    z-index:5;
}


h3 {
    font-size:50px;
    font-family: "playwrite-cc-au-tas", sans-serif;
font-weight: 400;
font-style: normal;

}

p {
    font-size:25px;
}